# Yerel PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=chatbot_db
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/chatbot_db

# Güvenlik / Admin Key
ADMIN_API_KEY=5e5d3298c56e297a7ef7cd7f4c75908ce90e75a3ba2bf7b75298a08892be804a

